In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv('higher_ed_employee_salaries.csv', encoding='latin1')

In [15]:
df.head()

,Name,School,Job Description,Department,Earnings,Year
0,Don Potter,University of Akron,Assistant Lecturer,Social Work,2472.00,2019
1,Emily Potter,The Ohio State University,Administrative Assistant 3,Arts and Sciences | Chemistry and Biochemistry...,48538.02,2022
2,Carol Jean Potter,The Ohio State University,Associate Professor-Clinical,Pediatrics,22722.80,2013
3,Kim Potter,The Ohio State University,"Manager 4, Compliance",Legal Affairs | Compliance,170143.44,2022
4,Graham Potter,Miami University,Building and Grounds Assistant,"Assoc VP Housing,Dining,Rec,Bus Svc",3075.20,2012

In [17]:
salaries = df['Earnings'].values
salaries = df['Earnings'].dropna().values

In [18]:
# Calculate the mean salary
mean_salary = np.mean(salaries)

# Calculate the median salary
median_salary = np.median(salaries)

print(f'Mean salary: ${mean_salary:.2f}')
print(f'Median salary: ${median_salary:.2f}')

Mean salary: $nan
Median salary: $nan