In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('study_performance.csv')

In [3]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [5]:
np.quantile(df['reading_score'], [0,0.25,0.50,0.75,1])

array([ 17.,  59.,  70.,  79., 100.])

In [7]:
df['reading_score'].quantile([0,0.25,0.50,0.75,1])

0.00     17.0
0.25     59.0
0.50     70.0
0.75     79.0
1.00    100.0
Name: reading_score, dtype: float64

In [8]:
cuantiles.plot(kind='bar', figsize=(8, 6), color='skyblue', alpha=0.7)

# Títulos y etiquetas
plt.title('Cuantiles de reading_score')
plt.xlabel('Cuantil')
plt.ylabel('Valor')

# Muestra el gráfico
plt.show()

NameError: name 'cuantiles' is not defined