In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv('higher_ed_employee_salaries.csv', encoding='latin1')

In [15]:
df.head()

,Name,School,Job Description,Department,Earnings,Year
0,Don Potter,University of Akron,Assistant Lecturer,Social Work,2472.00,2019
1,Emily Potter,The Ohio State University,Administrative Assistant 3,Arts and Sciences | Chemistry and Biochemistry...,48538.02,2022
2,Carol Jean Potter,The Ohio State University,Associate Professor-Clinical,Pediatrics,22722.80,2013
3,Kim Potter,The Ohio State University,"Manager 4, Compliance",Legal Affairs | Compliance,170143.44,2022
4,Graham Potter,Miami University,Building and Grounds Assistant,"Assoc VP Housing,Dining,Rec,Bus Svc",3075.20,2012

In [19]:
salaries = df['Earnings'].values
salaries = df['Earnings'].dropna().values

In [20]:
# Calculate the mean salary
mean_salary = np.mean(salaries)

# Calculate the median salary
median_salary = np.median(salaries)

print(f'Mean salary: ${mean_salary:.2f}')
print(f'Median salary: ${median_salary:.2f}')

Mean salary: $54659.13
Median salary: $44525.01

In [23]:
median_salary = np.median(salaries)
unique_salaries, counts = np.unique(salaries, return_counts=True)
mode_salary = unique_salaries[np.argmax(counts)]
range_salary = np.percentile(salaries, 100) - np.percentile(salaries, 0)
std_salary = np.std(salaries)
q1_salary = np.percentile(salaries, 25)
q3_salary = np.percentile(salaries, 75)
p5_salary = np.percentile(salaries, 5)
p95_salary = np.percentile(salaries, 95)

# Print the results
print(f'Median salary: ${median_salary:.2f}')
print(f'Mode salary: ${mode_salary:.2f}')
print(f'Range salary: ${range_salary:.2f}')
print(f'Standard Deviation salary: ${std_salary:.2f}')
print(f'Q1 salary: ${q1_salary:.2f}')
print(f'Q3 salary: ${q3_salary:.2f}')
print(f'5th percentile salary: ${p5_salary:.2f}')
print(f'95th percentile salary: ${p95_salary:.2f}')

Median salary: $45000.00
Mode salary: $54659.13
Range salary: $8021376.54
Standard Deviation salary: $61055.36
Q1 salary: $20680.01
Q3 salary: $70609.28
5th percentile salary: $1686.65
95th percentile salary: $138136.53

In [24]:
## Desviacion Estandar

lista1 = [4,5,5,6,3,4,6]
lista2 = [9,2,3,5,10,8]

In [25]:
print(np.mean(lista1))
print(np.mean(lista2))

4.714285714285714
6.166666666666667

In [26]:
print(np.std(lista1))
print(np.std(lista2))

1.0301575072754257
3.0230595245361758